@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0; /* deixa o padding todo zerado no projeto inteiro*/
    margin: 0; /* deixa a margin zerada*/
    box-sizing: border-box; /* com ou sem margin e padding, vai sempre manter o tamanho da caixa o mesmo sem altera-lo*/
    font-family: 'Roboto', sans-serif; /* Vai deixar todas as fontes com roboto, e se nao funcionar vai ser sans-serif*/
}

.caixa{
    background-color: #8A51FC;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-gif{
    width: 300px;
    margin-bottom: 16px;
}


.box{   
    width: 375px;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 44px 24px 23px 24px ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-moeda{
    width: 44px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 

}

.opcoes{
    display: flex;;
    flex-direction: column;
}

label{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    margin-bottom: 6px;
}

span{
font-weight: 700;
font-size: 14px;
line-height: 18px;  
}

button, select, input{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    opacity: 1;
    top: 258px;
    left: 24px;
    border-width: 1px;
    margin-bottom: 24px;
    border: 1px solid #BBBBBB;
    appearance: none;
    outline: none;
    }   

select{
    cursor: pointer; 
}

#converter{
    background-color: #772FD3;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

select, input{
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    padding: 15px;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #772FD3;
    width: 327px;
    border-radius: 20px;
    border-width: 1px;
    padding: 12px 0;
}

figcaption{
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    text-align: center;
    margin: 4px 0 2px 0;  
}

p{
    font-weight: 700;
    font-size: 20px;
    color: #555555  ;
}

#seta{
    margin: 15px 0;
    width: 35px;
    height: 49px;
}